  <!-- ======= Footer ======= -->
  <footer class="footer" style="background: none!important;">

    <div class="copyrights">
      <div class="container">
        <div class="credits">
          Designed by <a href="">Team Connect &hearts;</a>
        </div>
      </div>
    </div>

  </footer><!-- End  Footer -->

  
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="pages/assets/vendor/aos/aos.js"></script>
  <script src="pages/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="pages/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="pages/assets/vendor/php-email-form/validate.js"></script>
  <script src="pages/assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="pages/assets/js/main.js"></script>