<%- include("partials/header") %>

</head>

<body>


  <%- include("partials/nav") %>

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container d-flex flex-row justify-content-between" data-aos="fade-in">
      <div class="d-flex">
      <!-- <h1>Welcome to eStartup</h1> -->
      <!-- <h2>Elegant Bootstrap Template for Startups, Apps &amp; more...</h2> -->
      <img src="pages/assets/img/hero-img.png" alt="Hero Imgs" data-aos="zoom-out" data-aos-delay="100">
      </div>
      <div class="d-flex flex-column justify-content-center align-items-center">
      <div class="emergenImg">
        <a href="/emergen">
        <img src="pages/assets/img/emergency-red.png" alt="Hero Imgs" data-aos="zoom-out" data-aos-delay="100" style="max-width: 40%;"> 
        </a> 
      </div>
      <div class="d-flex">
      <a href="/login" class="btn-get-started scrollto">Login</a>
      <a href="/register" class="btn-get-started scrollto">Sign Up</a>
      </div>
      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= Get Started Section ======= -->
    <section id="get-started" class="padd-section text-center">

      <div class="container" data-aos="fade-up">
        <div class="section-title text-center">

          <h2>Features of the Application</h2>
          <p class="separator">Making calls more inclusive.</p>

        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="feature-block">

              <img src="pages/assets/img/svg/asteroid.svg" alt="img">
              <h4>Inclusive Calls</h4>
              <p>Helps people with hearing or speaking abilities to talk on calls by converting text to speech on call and vice-versa.</p>
              <a href="/main">Find out yourself</a>

            </div>
          </div>

          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="feature-block">

              <img src="pages/assets/img/svg/cloud.svg" alt="img">
              <h4>User-friendly</h4>
              <p>A simple, free app for a simple way to communicate. Make a call directly from the app. </p>
              <a href="/main">Try Yourself</a>

            </div>
          </div>

          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="feature-block">

              <img src="pages/assets/img/svg/planet.svg" alt="img">
              <h4>Easy to Use</h4>
              <p>Make emergency calls, bookings, pharmacy calls, easily from the app. </p>
              <a href="/main">Explore</a>

            </div>
          </div>

          

        </div>
      </div>

    </section><!-- End Get Started Section -->

    <!-- ======= About Us Section ======= -->
    <!-- <section id="about-us" class="about-us padd-section">
      <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">

          <div class="col-md-5 col-lg-3">
            <img src="pages/assets/img/about-img.png" alt="About" data-aos="zoom-in" data-aos-delay="100">
          </div>

          <div class="col-md-7 col-lg-5">
            <div class="about-content" data-aos="fade-left" data-aos-delay="100">

              <h2><span>eStartup</span>UI Design Mobile </h2>
              <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
              </p>

              <ul class="list-unstyled">
                <li><i class="vi bi-chevron-right"></i>Creative Design</li>
                <li><i class="vi bi-chevron-right"></i>Retina Ready</li>
                <li><i class="vi bi-chevron-right"></i>Easy to Use</li>
                <li><i class="vi bi-chevron-right"></i>Unlimited Features</li>
                <li><i class="vi bi-chevron-right"></i>Unlimited Features</li>
              </ul>

            </div>
          </div>

        </div>
      </div>
    </section> -->
    <!-- End About Us Section -->

  </main><!-- End #main -->


<%- include("partials/footer") %>
</body>

</html>